[Unit]
Description=GnuPG cryptographic agent and passphrase cache (local)
Documentation=man:gpg-agent(1)
Requires=gpg-agent-local.socket

[Service]
ExecStart=/usr/bin/gpg-agent --supervised
ExecReload=/usr/bin/gpgconf --reload gpg-agent
