[Unit]
Description=Smart GPG/SSH Socket Proxy
Documentation=https://github.com/lkingland/smartsocket
Requires=smartsocket-gpg.socket smartsocket-ssh.socket

[Service]
Type=simple
ExecStart=%h/.local/bin/smartsocket
Restart=on-failure
RestartSec=5
